{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'labs/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'index' %}" class="logo">STREET<span>HOUSE</span></a>
            <div class="nav-links">
                <a href="{% url 'index' %}">Головна</a>
                {% for cat in categories %}
                    <a href="{% url 'category_detail' cat.id %}">{{ cat.name }}</a>
                {% endfor %}
                <a href="{% url 'orders' %}">Замовлення</a>
                <a href="{% url 'about' %}">Про проект</a>
            </div>
        </nav>
    </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>&copy; 2026 <strong>STREETHOUSE CLOTHING</strong>. Всі права захищені.</p>
        <p>Контакти: info@streethouse.pp.ua | Доставка та оплата</p>
    </footer>
</body>
</html>