{% extends 'labs/base.html' %}

{% block content %}

<section class="category-page">

    <div class="category-header">
        <span>Категорія</span>
        <h1 title="{{ category.name }}">
            {{ category.name|truncatechars:35 }}
        </h1>
        <p>Товари з обраної категорії STREETHOUSE.</p>
    </div>

    <div class="category-product-grid">
        {% for product in products %}

        <article class="product-card">

            <a href="{% url 'product_detail' product.id %}" class="product-image-link">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                    <div class="product-no-image">
                        Немає фото
                    </div>
                {% endif %}
            </a>

            <div class="product-info">
                <div>
                    <p class="product-category-name">
                        {{ product.category.name|truncatechars:22 }}
                    </p>

                    <h3>
                        <a href="{% url 'product_detail' product.id %}">
                            {{ product.name|truncatechars:55 }}
                        </a>
                    </h3>

                    <p class="product-short-description">
                        {{ product.description|truncatewords:14 }}
                    </p>
                </div>

                <div class="product-card-bottom">
                    <p class="price">{{ product.price }} грн</p>

                    <a href="{% url 'product_detail' product.id %}" class="btn-buy">
                        Вибрати розмір
                    </a>
                </div>
            </div>

        </article>

        {% empty %}
            <div class="empty-products">
                <h3>У цій категорії поки немає товарів</h3>
                <p>Додай товари до цієї категорії через адмін-панель Django.</p>
            </div>
        {% endfor %}
    </div>

</section>

{% endblock %}