{% extends 'labs/base.html' %}

{% block content %}

<section class="auth-page">
    <div class="auth-card">
        <span>STREETHOUSE</span>
        <h1>Відновлення пароля</h1>
        <p>Введіть email. Ми надішлемо тимчасовий код для зміни пароля.</p>

        <form method="post" class="auth-form">
            {% csrf_token %}

            <label>Email</label>
            {{ form.email }}
            {{ form.email.errors }}

            <button type="submit" class="auth-btn">Надіслати код</button>
        </form>

        <div class="auth-links">
            <a href="{% url 'login' %}">Повернутися до входу</a>
        </div>
    </div>
</section>

{% endblock %}