{% extends 'labs/base.html' %}

{% block content %}

<section class="auth-page">
    <div class="auth-card">
        <span>STREETHOUSE</span>
        <h1>Новий пароль</h1>

        {% if reset_email %}
            <p>Код надіслано на email: {{ reset_email }}</p>
        {% else %}
            <p>Введіть код з email та новий пароль.</p>
        {% endif %}

        <form method="post" class="auth-form">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <label>Код</label>
            {{ form.code }}
            {{ form.code.errors }}

            <label>Новий пароль</label>
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}

            <label>Повторіть новий пароль</label>
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}

            <button type="submit" class="auth-btn">Змінити пароль</button>
        </form>

        <div class="auth-links">
            <a href="{% url 'password_reset_request' %}">Отримати новий код</a>
        </div>
    </div>
</section>

{% endblock %}